.composition {
    position: relative;
}

.composition__photo {
    width: 130%;
    box-shadow: 0 1.5rem 4rem rgba(#000, .4);
    /* border-radius: 2px; */
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    margin-left: 120px;
}

.composition__photo--p1 {
    right: 5px;
    top: -2rem;
}

.composition__photo--p2 {
    left:  50px;
    top: 2rem;
}

.composition__photo--p3 {
   right: -80px;
    top: 10rem;
}

.composition__photo:hover {
    outline: 1.5rem solid #55c57a;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem rgba(#000, .5);
    z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
    transform: scale(.95);
}


